footer {
  padding: 16px;
  color: #f2f2f2;
  background-color: #bc95cf;
  position: flex;
  width: 100%;
  bottom: 0;
  margin-top: 20px;
}
.bg-base {
  background-color: rgb(206, 205, 203);
  width: flex;
  height: flex;
}
@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
    width: 100%;
  }
}
#container {
  display: flex;
  flex-direction: column;
}
.block-title {
  align-content: center;
  font-size: xx-large;
  color: #060411;
}
